{% comment %} {% extends "base.html" %}

                                              
{% block menu %}
    <div class="header-content container">
        <div class="logo">
            <i class="fas fa-rocket"></i>
            <span>BrandName</span>
        </div>
        
        <div class="mobile-menu">
            <i class="fas fa-bars"></i>
        </div>
        
        <nav id="main-nav">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        
        <div class="auth-buttons">
            <button class="btn btn-outline">Login</button>
            <button class="btn btn-primary">Sign Up</button>
        </div>
    </div>
{% endblock menu %} {% endcomment %}